<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/bar :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">

</head>

<body id="root">

<!-- 头部 topbar-->
<nav th:replace="admin/bar :: menu(1)"class="ui tablet computer only padded grid">
    <div class="ui inverted borderless top fixed fluid menu">
        <a class="header item">Eplatform</a>
        <div class="right menu">
            <div class="item">
                <div class="ui small input"><input placeholder="Search..." /></div>
            </div>
            <a class="item">Dashboard</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005" th:src="@{${session.user.avatar}}">
                        <span th:text="${session.user.nickname}">贾晓虎</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--内容-->
<div class="ui padded grid m-container-small m-padded-tb-big" >
    <!-- sidebar 左侧边栏 -->
    <div
            class="three wide tablet only three wide computer only column"
            id="sidebar"
            th:replace="admin/bar :: sidebarleft"
    >
        <div class="ui vertical borderless fluid text menu">
            <a href="#" th:href="@{/admin/eplatform}" class=" active m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class=" home icon"></i>内容</a>
            <a href="#" th:href="@{/admin/edutypes}" class=" m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class=" idea icon"></i>分类</a>
            <a href="#" th:href="@{/admin/grade}"  class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class=" tags icon"></i>等级</a>
            <!--            <a href="#" th:href="@{/admin/comment}" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'"><i class=" tags icon"></i>主页</a>-->

            <div class="ui hidden divider"></div>
            <a class="item">Nav item</a>
            <a class="item">Nav item again</a>
            <a class="item">One more nav</a>
            <a class="item">Another nav item</a>
            <a class="item">More navigation</a>

            <div class="ui hidden divider"></div>
            <a class="item">Macintosh</a>
            <a class="item">Linux</a>
            <a class="item">Windows</a>
        </div>
    </div>
    <!-- 右侧主题   -->
    <div
            class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
            id="content"
    >
        <div class="ui padded grid container">

            <div class=" center row">
                <h1 class="ui huge dividing header">内容信息列表</h1>
            </div>

            <!-- 搜索 -->
            <div  class="ui secondary segment form">
                <input type="hidden" name="page" >
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui type selection dropdown">
                                <input type="hidden" name="typeId">
                                <i class="dropdown icon"></i>
                                <div class="default text">分类</div>
                                <div class="menu">
                                    <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                                    <!--/*-->
                                    <div class="item" data-value="2">开发者手册</div>
                                    <!--*/-->
                                </div>
                            </div>
                            <button id="clear-btn" class="ui compact button">clear</button>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend">推荐</label>
                        </div>
                    </div>
                    <div class="field">
                        <button  type="button" id="search-btn" class=" ui mini teal base button"><i class="search icon"></i>搜索</button>
                    </div>
                </div>
            </div>

            <div id="table-container" class="row">
                <table  th:fragment="eplatformList" class="ui single line striped selectable unstackable table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>推荐</th>
                        <th>状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--
                      eplatform : ${page.content}是获取页面列表的内容，page是个json格式的
                      ${eplatform.name}获取分类的名字
                      iterStat类似于序号，${iterStat.count}迭代的总数，第一次总数就是1
                    -->
                    <tr th:each="eplatform, iterStat : ${page.content}" >
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${eplatform.title}">刻意练习清单</td>
                        <!--
                        获取外键的值
                          mappedBy = "edu_type"
                          类名.mappedBy.属性
                        -->
                        <!--            <td th:each="type : ${types}"></td>-->
                        <td th:text="${eplatform.edu_type.name}"></td>
                        <!-- 智障错误，搞了我2个小时，还是改回了原样   -->
                        <!--            <td th:text="${eplatform.edu_type_id}"></td>-->
                        <!--            <td th:text="${eplatform.type.name}"></td>-->
                        <!--            <td th:text="${eplatform.types.name}">aaaa</td>-->
                        <!--            <td th:text="${eplatform.edutype.name}">shisss</td>-->
                        <!--            <td th:text="${eplatform.edu_type.name}}">i Need some thing</td>-->
                        <!--            <td>认知升级</td>-->
                        <td th:text="${eplatform.recommend} ? '是':'否'">是</td>
                        <td th:text="${eplatform.published} ? '发布':'草稿'">草稿</td>
                        <td th:text="${eplatform.updateTime}">2017-10-02 09:45</td>
                        <td>
                            <a href="#" th:href="@{/admin/eplatform/{id}/input(id=${eplatform.id})}" class="ui mini teal basic button">编辑</a>
                            <a href="#" th:href="@{/admin/eplatform/{id}/delete(id=${eplatform.id})}" class="ui mini red basic button">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui mini pagination menu" th:if="${page.totalPages}>1" >
                                <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item" th:unless="${page.first}">上一页</a>
                                <a onclick="page(this)" th:attr="data-page=${page.number}+1" class=" item" th:unless="${page.last}">下一页</a>
                            </div>
                            <a href="#" th:href="@{/admin/eplatform/input}" class="ui mini right floated teal basic button">新增</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $(document).ready(function() {
        $(".ui.toggle.button").click(function() {
            $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });
    });
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    // clear清除title内容的按钮
    $('#clear-btn')
        .on('click', function() {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        })
    ;

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        // 设置页面page=0，即查询全部数据
        $("[name='page']").val(0);
        loaddata();
    });

    // 搜索按钮响应事件
    function loaddata() {
        $("#table-container").load(/*[[@{/admin/eplatform/search}]]*/"/admin/eplatform/search",{
            title : $("[name='title']").val(),
            typeId : $("[name='typeId']").val(),
            recommend : $("[name='recommend']").prop('checked'),
            page : $("[name='page']").val()
        });
    }

</script>
</body>
</html>
