<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/bar :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>级别新增</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
  <link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/mycss.css}">
</head>
<body>

<!-- 头部 topbar-->
<nav th:replace="admin/bar :: menu(2)"class="ui tablet computer only padded grid">
  <div class="ui inverted borderless top fixed fluid menu">
    <a class="header item">Eplatform</a>
    <div class="right menu">
      <div class="item">
        <div class="ui small input"><input placeholder="Search..." /></div>
      </div>
      <a class="item">Dashboard</a>
      <div class="right m-item m-mobile-hide menu">
        <div class="ui dropdown  item">
          <div class="text">
            <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005" th:src="@{${session.user.avatar}}">
            <span th:text="${session.user.nickname}">贾晓虎</span>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!--内容-->
<div class="ui padded grid" >
  <!-- sidebar 左侧边栏 -->
  <div
          class="three wide tablet only three wide computer only column"
          id="sidebar"
          th:replace="admin/bar :: sidebarleft"
  >
    <div class="ui vertical borderless fluid text menu">
      <a href="#" th:href="@{/admin/eplatform}" class=" m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class=" home icon"></i>内容</a>
      <a href="#" th:href="@{/admin/edutypes}" class=" m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class=" idea icon"></i>分类</a>
      <a href="#" th:href="@{/admin/grade}"  class=" m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class=" tags icon"></i>等级</a>
      <!--            <a href="#" th:href="@{/admin/comment}" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'"><i class=" tags icon"></i>主页</a>-->

      <div class="ui hidden divider"></div>
      <a class="item">Nav item</a>
      <a class="item">Nav item again</a>
      <a class="item">One more nav</a>
      <a class="item">Another nav item</a>
      <a class="item">More navigation</a>

      <div class="ui hidden divider"></div>
      <a class="item">Macintosh</a>
      <a class="item">Linux</a>
      <a class="item">Windows</a>
    </div>
  </div>
  <!-- 右侧主题   -->
  <div
          class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
          id="content"
  >
    <form action="#" method="post" th:object="${grade}" th:action="*{id}==null ? @{/admin/grade} : @{/admin/grade/{id}(id=*{id})} "  class="ui form">
      <input  type="hidden" name="id" th:value="*{id}">
      <div class=" field">
        <div class="ui left labeled input">
          <label class="ui teal basic label">名称</label>
          <input type="text" name="name" placeholder="级别名称" th:value="*{name}" >
        </div>
      </div>

      <div class="ui error message"></div>
      <!--/*/
      <div class="ui negative message" th:if="${#fields.hasErrors('name')}"  >
        <i class="close icon"></i>
        <div class="header">验证失败</div>
        <p th:errors="*{name}">提交信息不符合规则</p>
      </div>
       /*/-->
      <div class="ui right aligned container">
        <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
        <button class="ui teal submit button">提交</button>
      </div>
    </form>
  </div>
</div>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>

  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('.ui.dropdown').dropdown({
    on : 'hover'
  });

  $('.ui.form').form({
    fields : {
      title : {
        identifier: 'name',
        rules: [{
          type : 'empty',
          prompt: '请输入级别名称'
        }]
      }
    }
  });

</script>
</body>
</html>