<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/bar :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>级别管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
  <link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/mycss.css}">
</head>
<body>

<!-- 头部 topbar-->
<nav th:replace="admin/bar :: menu(2)"class="ui tablet computer only padded grid">
  <div class="ui inverted borderless top fixed fluid menu">
    <a class="header item">Eplatform</a>
    <div class="right menu">
      <div class="item">
        <div class="ui small input"><input placeholder="Search..." /></div>
      </div>
      <a class="item">Dashboard</a>
      <div class="right m-item m-mobile-hide menu">
        <div class="ui dropdown  item">
          <div class="text">
            <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005" th:src="@{${session.user.avatar}}">
            <span th:text="${session.user.nickname}">贾晓虎</span>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="ui padded grid" >
  <!-- sidebar 左侧边栏 -->
  <div
          class="three wide tablet only three wide computer only column"
          id="sidebar"
          th:replace="admin/bar :: sidebarleft"
  >
    <div class="ui vertical borderless fluid text menu">
      <a href="#" th:href="@{/admin/eplatform}" class=" m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class=" home icon"></i>内容</a>
      <a href="#" th:href="@{/admin/edutypes}" class=" m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class=" idea icon"></i>分类</a>
      <a href="#" th:href="@{/admin/grade}"  class=" active m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class=" tags icon"></i>等级</a>
      <!--            <a href="#" th:href="@{/admin/comment}" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'"><i class=" tags icon"></i>主页</a>-->

      <div class="ui hidden divider"></div>
      <a class="item">Nav item</a>
      <a class="item">Nav item again</a>
      <a class="item">One more nav</a>
      <a class="item">Another nav item</a>
      <a class="item">More navigation</a>

      <div class="ui hidden divider"></div>
      <a class="item">Macintosh</a>
      <a class="item">Linux</a>
      <a class="item">Windows</a>
    </div>
  </div>
  <!-- 右侧主题   -->
  <div
          class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
          id="content"
  >
    <div class="ui padded grid">
      <div class=" center row">
        <h1 class="ui huge dividing header">级别列表</h1>
      </div>

      <div class="row">

        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
          <i class="close icon"></i>
          <div class="header">提示：</div>
          <p th:text="${message}">恭喜，操作成功！</p>
        </div>

        <table class="ui celled table">
          <thead>
          <tr>
            <th></th>
            <th>名称</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="grade, iterStat : ${page.content}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${grade.name}">刻意练习清单</td>
            <td>
              <a href="#" th:href="@{/admin/grade/{id}/input(id=${grade.id})}" class="ui mini teal basic button">编辑</a>
              <a href="#" th:href="@{/admin/grade/{id}/delete(id=${grade.id})}" class="ui mini red basic button">删除</a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="6" >
              <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                <a th:href="@{/admin/grade(page=${page.number}-1)}" class="  item" th:unless="${page.first}">上一页</a>
                <a th:href="@{/admin/grade(page=${page.number}+1)}" class=" item" th:unless="${page.last}">下一页</a>
              </div>
              <a href="#" th:href="@{/admin/grade/input}"  class="ui mini right floated teal basic button">新增</a>
            </th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('.ui.dropdown').dropdown({
    on : 'hover'
  });

  //消息提示关闭初始化
  $('.message .close')
          .on('click', function () {
            $(this)
                    .closest('.message')
                    .transition('fade');
          });
</script>
</body>
</html>